@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 18px;
  color: white;
  background-color: #1f2833;
  font-family: "Poppins", sans-serif;
}

.active {
  background-image: linear-gradient(45deg, #ffa500, #ff0000);
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-grad {
  background-image: linear-gradient(
    to left,
    #ffa500 0%,
    #ff0000 51%,
    #ffa500 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 50px;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}